{% extends 'base.html' %}

{% block title %}
My Tasks
{% endblock title %}

{% block content %}
<nav>
    <ul>
        <li><a href="{% url 'create_task' %}">Create New Task</a></li>
        <li><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
        
    </ul>
</nav>

<div>
    <h1>My Tasks</h1>
    {% if tasks %}

                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
        
        {% endblock content %}