{% extends 'base.html' %}

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<body>
    <main>
        <div>
            <h1>Sign up!</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Sign up</button>
              </form>
        </div>
    </main>
</body>

{% endblock content %}